name: CI
on:
  push:
    branch:
      - main
  pull_request:
  schedule:
    - cron: '0 12 * * 1' # weekly, monday, 12pm UTC

jobs:
  lint:
    runs-on: ubuntu-latest
    continue-on-error: true
    container: 84codes/crystal:latest-ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - run: shards install
      - run: bin/ameba --no-color

  spec:
    name: Spec
    runs-on: ubuntu-latest
    container: 84codes/crystal:latest-ubuntu-20.04
    services:
      myramq:
        image: cloudamqp/myramq
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Shards install
        run: shards install --deployment
      - name: Spec
        run: crystal spec --no-color --order random
        env:
          MQTT_HOST: myramq

  format:
    name: Formatting
    runs-on: ubuntu-latest
    container: 84codes/crystal:latest-ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Format check
        run: crystal tool format --check
